.footer {
  background-color: var(--footer-background-color);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.social-icons a {
  font-size: 1.5rem;
}

.social-icons a:hover {
  color: var(--primary-color);
}
